<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.araujoabreu.timg">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".rastreador.TelaMapaRastreador"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".rastreador.TelaPrincipalRastreador" />
        <activity
            android:name=".chat.activity.ConfiguracoesChat"
            android:parentActivityName=".chat.activity.TelaPrincipalChat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.activity.ConversaChat"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".chat.activity.TelaPrincipalChat"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chat.activity.TelaPrincipalChat" />
        </activity>
        <activity
            android:name=".chat.activity.GrupoChat"
            android:label="@string/title_activity_grupo"
            android:parentActivityName=".chat.activity.TelaPrincipalChat"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chat.activity.TelaPrincipalChat" />
        </activity>
        <activity
            android:name=".chat.activity.GrupoChatCadastro"
            android:label="@string/title_activity_cadastro_grupo"
            android:parentActivityName=".chat.activity.GrupoChat"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chat.activity.GrupoChat" />
        </activity>
        <activity
            android:name=".visitas.VisitasEquipamento"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".rota.TrajetoLocal" />
        <activity android:name=".rota.PostosCombustivel" />
        <activity android:name=".rota.Hoteis" />
        <activity android:name=".rota.Restaurantes" />
        <activity
            android:name=".visitas.MainActivityAtividades"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".visitas.VisitasLocal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".chat.activity.TelaPrincipalChat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".relatorio.RelatorioContrato" />
        <activity android:name=".relatorio.RelatorioLeitura" />
        <activity
            android:name=".equipamento.GerarQRCODE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".equipamento.CentralEquipamento"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".relatorio.RelatorioVisita"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dev.frota.TelaVeiculo"
            android:label="@string/title_activity_tela_veiculo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dev.frota.MainActivityVeiculos"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".equipamento.qrcode.LoadingScanner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TelaLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visitas.Locais"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".visitas.Equipamentos"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.MainActivity_Principal"
            android:label="Menu Principal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".equipamento.qrcode.ScannerQRCODE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dev.localizacao.MostrarColaborador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dev.localizacao.frota.locais.local.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".visitas.Atividade_Antes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visitas.Atividade_Depois"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visitas.AssinaturaCliente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visitas.AssinaturaColaborador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".equipamento.CadastrarEquipamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visitas.AbrirCorretiva"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tutorial.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dev.localizacao.frota.locais.local.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dev.configuracoes.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visitas.Contratos"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB5DHkL5RHr5KFfJI73G6QYVqqTnE77zgc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".helper.sync.BootCompletedIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".helper.sync.BootReciever" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="com.delaroystudios.uploadmedia.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA2" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>